body{
    background-color: #ffffff;
}
.container{
    margin:10px
}
#imglogo {
    padding: 2px;
    width: 10px;
    height: 10px;
}

#resultNotFound{
    display: none;
}


@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
        zoom: (current screen width)/(480);
    }
}